.product-preview-card {
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    font-style: bold;
    color: navy;
  }

  &__description {
    color: black;
  }

  &__image {
    width: 10rem;
  }

  &__price {
    color: darkcyan;
  }
}
