.home-page {
  &__title {
    color: red;
  }

  &__products {
    
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 20px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

body {
  animation-name: bg-color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes bg-color {
  0% {background-color: white;}
  50% {background-color: rgb(210, 210, 210);}
  100% {background-color: white;}
}